/* import font */
@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
}
.ms-10 {
  margin-left: 100px !important;
}

.listStyle {
  list-style: none;
}

.listStyle a {
  text-decoration: none;
  color: #6c757d;
  display: flex;
}

.footer-down {
  padding-top: 20px;
  padding-bottom: 10px;
}
.imgFooter {
  margin-left: -25px;
}

.customMainProfile {
  margin-top: 55px;
}

.blue {
  color: #2395ff !important;
}
.bgBlue {
  background-color: #2395ff !important;
}

.customBorderProfile {
  border-radius: 15px !important;
}

.customBorder {
  border: 3px solid #2395ff !important;
}
.customBorderInput {
  border: none;
}

.bgImage {
  background-image: url("../assets/images/bgImageTopDest.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}

.infoNext {
  background-color: white !important;
  color: #2395ff !important;
  width: 50px !important;
}

.infoNext:hover {
  background-color: #a3b0bc !important;
  border-color: white !important;
  color: white !important;
}

.infoBack {
  border-color: white !important;
  color: white !important;
  width: 50px !important;
}
.infoBack:hover {
  background: white !important;
  color: #2395ff !important;
}

.wArrow {
  font-size: 30px !important;
}

.textFlight {
  color: #2395ff;
}

.customImageBubble {
  margin-top: 10px;
  margin-right: 100px;
}

/* .mobileOuterFooter{
    padding: 2.5rem;
}
.mobileInnerFooter{
    padding: 2.5rem ;
} */
/* media query footer */
@media (max-width: 767px) {
  .mobileOuterFooter {
    padding: 30px 0 0 0 !important;
  }
  .mobileInnerFooter {
    padding: 0 !important;
  }
}
/* media query profile navbar */
@media (max-width: 767px) {
  .mobileProfileNavbar {
    margin-left: 50px !important;
  }
}

/* media query card profile */
@media (max-width: 767px) {
  .customTitleCard {
    margin-bottom: -50px !important;
  }
}
